<a href="https://colab.research.google.com/github/Gitmalhub/hbot2/blob/main/Python_Beginner-Madhu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Agenda for today 2nd Oct 2025

1. Keywords in Python
2. Simple mathematical operations
3. Boolean operators
4. Logical Operators
5. Exception Handling
6. Pandas
7. Numpy
8. Scipy
9. Math
10. Matplotlib
11. Seaborn

### Keywords in Python

Keywords in Python are special reserved words that are part of the language itself. They define the rules and structure of Python programs, which means you cannot use them as names for your variables, functions, classes, or any other identifiers.

In [ ]:
import keyword

# printing all keywords at once using "kwlist()"
print("The list of keywords is : ")
print(keyword.kwlist)

The list of keywords is :
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
def outer_function():
    x = 10  # Variable in the outer function's scope

    def inner_function():
        nonlocal x  # Declare x as nonlocal
        x = 20      # Modify the x from outer_function's scope
        print(f"Inner function: x = {x}")

    inner_function()
    print(f"Outer function: x = {x}")

outer_function()

### Simple mathematical operations

In [ ]:
a = 100000
a += 1
print(a)

100001

In [ ]:
a -= 1
print(a)

100000

In [ ]:
a *= 2
print(a)

200000

In [ ]:
a /= 1000
print(a)

200.0

In [ ]:
b = 25
c = b%2
print(b)

25

In [ ]:
c

1

In [ ]:
a = 45
a **= 2
print(a)

2025

In [ ]:
b = 25
b //= 2
print(b)

12

### Boolean operators

#### For "and" Operator

1.    print(True and True)   # Output: True
2.    print(True and False)  # Output: False
3.    print(False and True)  # Output: False
4.    print(False and False) # Output: False

#### For "or" operator

1.    print(True or True)    # Output: True
2.    print(True or False)   # Output: True
3.    print(False or True)   # Output: True
4.    print(False or False)  # Output: False

In [ ]:
def check_if_even_or_odd(n):
  if n%2==0:
    return f"{n} is even"
  else:
    return f"{n} is odd"

In [ ]:
check_return = check_if_even_or_odd(3)
print(check_return)

3 is odd

In [ ]:
check_return = check_if_even_or_odd(98)
print(check_return)

98 is even

In [ ]:
def check_if_even_or_odd(n):
  if n%2==0:
    print(f"{n} is even")
  else:
    print(f"{n} is odd")

In [ ]:
check_return = check_if_even_or_odd(3)

3 is odd

In [ ]:
print(check_return)

None

In [ ]:
def evaluate_eligibility(age, has_degree, experience_years, project_score, is_manager):
  """
      For "and" Operator:
      print(True and True) # Output: True
      print(True and False) # Output: False
      print(False and True) # Output: False
      print(False and False) # Output: False

      For "or" operator:
      print(True or True) # Output: True
      print(True or False) # Output: True
      print(False or True) # Output: True
      print(False or False) # Output: False

      Args:

      Input:
           age: Age of candidate (int type)
           has_degree: Candidate degree if he/she has one (boolean type)
           experience_years: No. of years experience for candidate (int type)
           project_score: Project Score given by ATS system (float type)
           is_manager: Whether the candidate is a manager or not (boolean type)

      Output:
           overall_eligibility: If the candidate is eligible or not (boolean type)

  """

  # Condition 1: Basic requirements
  basic_requirements_met = (age >= 25 and has_degree)

  # Condition 2: Experience or high project score
  experience_or_score = (experience_years >= 5 or project_score > 80)

  # Condition 3: Managerial role with specific age or experience
  manager_specific_criteria = is_manager and (age > 30 or experience_years >= 10)

  # Combine all conditions for overall eligibility
  # A candidate is eligible if they meet basic requirements AND (experience/score OR manager criteria)
  overall_eligibility = basic_requirements_met and (experience_or_score or manager_specific_criteria)

  return overall_eligibility

# Test cases
print(f"Candidate 1 (Eligible): {evaluate_eligibility(28, True, 6, 75, False)}") # True: basic & experience
print(f"Candidate 2 (Eligible): {evaluate_eligibility(26, True, 3, 90, False)}") # True: basic & score
print(f"Candidate 3 (Eligible): {evaluate_eligibility(35, True, 8, 70, True)}") # True: basic & manager criteria (age > 30)
print(f"Candidate 4 (Eligible): {evaluate_eligibility(29, True, 12, 60, True)}") # True: basic & manager criteria (experience >= 10)

print(f"Candidate 5 (Not Eligible): {evaluate_eligibility(22, True, 5, 85, False)}") # False: age < 25 (fails basic)
print(f"Candidate 6 (Not Eligible): {evaluate_eligibility(30, False, 7, 70, False)}") # False: no degree (fails basic)
print(f"Candidate 7 (Not Eligible): {evaluate_eligibility(27, True, 2, 60, False)}") # False: fails experience/score and not manager
print(f"Candidate 8 (Not Eligible): {evaluate_eligibility(29, True, 4, 70, True)}")  # False: manager but fails specific age/experience

Candidate 1 (Eligible): True
Candidate 2 (Eligible): True
Candidate 3 (Eligible): True
Candidate 4 (Eligible): True
Candidate 5 (Not Eligible): False
Candidate 6 (Not Eligible): False
Candidate 7 (Not Eligible): False
Candidate 8 (Not Eligible): False

## Exception Handling

Exception handling in Python provides a structured way to deal with runtime errors, or "exceptions," that can disrupt the normal flow of a program. Instead of crashing, a program can gracefully handle these unexpected events, allowing for error logging, user feedback, or corrective actions.

In [ ]:
try:
  # Code that might raise an exception
  result = 10 / 0
except ZeroDivisionError:
  # Code to handle ZeroDivisionError
  print("Cannot divide by zero!")

Cannot divide by zero!

In [ ]:
try:
  value = int("abc")
except ValueError:
  print("Invalid input: cannot convert to integer.")

Invalid input: cannot convert to integer.

In [ ]:
try:
  num = int(input("Enter a number: "))
except ValueError:
  print("That's not a valid number!")
else:
  print(f"You entered: {num}")

Enter a number: 13
You entered: 13

In [ ]:
try:
  file = open("my_file.txt", "r")
  content = file.read()
except FileNotFoundError:
  print("File not found! No such file or directory. Please check the filename or directory name.")
finally:
  if 'file' in locals() and not file.closed:
    print(f"Content in the file: {content}")
    file.close()
    print("File closed.")

Content in the file: My name is Vinit
File closed.

## Pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Muralimekala/python/master/Salaries.csv')

In [ ]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

##### List comprehension example detour

In [ ]:
%%time
[col for col in df.columns if col!='Id']

CPU times: user 27 µs, sys: 0 ns, total: 27 µs
Wall time: 31.2 µs

['EmployeeName',
 'JobTitle',
 'BasePay',
 'OvertimePay',
 'OtherPay',
 'Benefits',
 'TotalPay',
 'TotalPayBenefits',
 'Year',
 'Notes',
 'Agency',
 'Status']

In [ ]:
%%time
inc_cols = []
for col in df.columns:
  if col != "Id":
    inc_cols.append(col)
print(inc_cols)

['EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay', 'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency', 'Status']
CPU times: user 107 µs, sys: 0 ns, total: 107 µs
Wall time: 111 µs

In [ ]:
inc_cols = [col for col in df.columns if col!='Id']
df[inc_cols].describe()

,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,66325.448840,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

In [ ]:
df[inc_cols].head()

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

## In-class Assignment

1. How many null values in this dataset?
2. How many rows and columns in the dataset?
3. 66th percentile value for each numeric column programmatically
4. Unique Job titles
5. Unique Agencies
6. Find unique years
7. Unique Employee names